<h3>Enter Medical Records Here For <%= @user.name %></h3>

<form action='/records' method='post'>
    <label for="sex">Patient's Sex:</label>
    <input type="text" name="sex" id="sex"><br><br>

    <label for="age">Patient's Age:</label>
    <input type="text" name="age" id="age"><br><br>

    <label for="disease">Disease:</label>
    <input type="text" name="disease" id="disease"><br><br>

    <input type="submit" value="Submit Record">
</form>