<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<h2>Welcome, Dr. <%= @user.name %>!</h2>

<p class="center"><a href="/records/new">Create New Record</a></p>
<p class="center"><a href='/'>Home</a></p><br>


<p class="title">List of the Current Patients at Flatiron Hospital</p>
<table style="width:100%">
  <tr>
    <th>Name</th>
  </tr>
 
  <% @records.each do |r| %>
    <tr>
        <th><a href='/records/<%= r.id %>'><%= r.p_name %></a></th>
    </tr>
  <% end %>


</table>


