<h2>Medical Data for <%= @record.p_name %> </h2>

<h3>Patient's Sex: <%= @record.sex %> </h3><br>
<h3>Patient's Age: <%= @record.age %> </h3><br>
<h3>Patient's Disease/Illness: <%= @record.disease %> </h3><br>